input{
    border-radius: 5px;
    border:2px solid rgb(0, 204, 204);
    background-color: rgba(0, 140, 255, 0.253);
    color: gery;
}
select{
    border-radius: 5px;
    border:2px solid rgb(0, 204, 204);
    background-color: rgba(0, 140, 255, 0.253);
    color: gery;
}
.form button{
    font-family: 24px;
    color: white;
    padding: 10px;
    width: 75px;
    background-color: rgb(38, 141, 238);
    border: 4px solid rgba(0, 255, 255, 0.377);
    border-radius:10px;
}
.form{
    margin-bottom: 50px;
    box-shadow: 1px 1px 1px 1px rgba(38, 141, 238, 0.623);
    padding: 0 10px 0 10px;
}
dd{
    margin-bottom: 20px;
}
