<div class="conteiner">

    <div class="contactList">
        <app-contact-list></app-contact-list>
    </div>

    <div class="content">

        <app-add-contact-form></app-add-contact-form>

       <app-active-contact></app-active-contact>

    </div>
</div>