.conteiner{
    min-height: 100vh;
    display: flex;
}
.contactList{
    min-width: 300px;
    background-color: rgb(0, 204, 204);
}
.content{
    display: flex;
    flex-direction: column;
    padding: 25px;
}





