li button{
    position: absolute;
    left: 265px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    border: none;
    background: none;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{  
    padding: 10px;
    cursor: pointer;
    list-style-type: none;
    font-size: 30px;
    color: rgb(255, 255, 255);
    border-bottom:1px solid white ;
}
.active{
    color:grey;
}